<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/aws.css" rel="stylesheet" />

</head>
<body>
  <header class="header">
 <!-- <button  class="startbutton" id="buttonStart" class="button-success"  onclick="countdown()" /> Start Biometric999</button> -->

</header>
<main class="main">
<div class="row">

  
 <div  align="center">
  
   



 <div  >   
 

  <canvas id="canvas" class="liveview" ></canvas>
<figure>
  <button name="play" class="can_vas_center" id="play" onclick="countdown()"></button>
</figure>
<div id="count" class="can_vas_center" style="font-weight: bolder; font-size: 59px"></div> 
<div id="message" class="can_vas_center" style="font-size: 30px"></div>
<div id="done" class="can_vas_center" style="font-size: 30px"></div>
<div id="message2" class="can_vas_center" style="font-size: 30px"></div>
<div id="biometric" class="can_vas_center" style="font-size: 22px"></div>
<div id="enroll" class="can_vas_center" style="font-size: 22px"></div>


</div>

</div>

</div>
<div class="flex" id="foo">
  <div class="upload1">
    <div id="wait1" class="loader"></div>
    <img src="" id="imageU1" class="image-uploaded"  />
  </div>
  <div class="upload2">
   <div id="wait2" class="loader"></div>
   <img src="" id="imageU2" class="image-uploaded"  />
  </div>
</div>


</main>
</body>
<script >
 document.getElementById("wait1").hidden = true;
 document.getElementById("wait2").hidden = true; 
 document.getElementById("play").hidden = true;
 document.getElementById("imageU1").hidden = true;
 document.getElementById("imageU2").hidden = true;


</script>
<script src="js/jquery-3.3.1.min.js"></script> 
<script src="token.js"></script> 
<script type="text/javascript" src="aws.capture.js"></script>
<!-- Include the CCV image processing and face detection libraries -->
<script src="js/ccv.js"></script>
<script src="js/face.js"></script>



</html>
